<h3>Book Library</h3>
<div>
    <button class="btn-primary" [routerLink]="['/add-book']">Add a Book</button>
</div>
<div *ngIf="books.length > 0">
    <div *ngFor="let book of getDisplayList()">
        {{book.isbn}} -  {{book.title}}  <b> {{book.price}}</b>
        <button class="btn-danger" (click)="deleteBook(book)" placement="top" ngbTooltip="Delete the book">DELETE</button>
        <button [routerLink]="['/edit-book', book.isbn]" placement="top" ngbTooltip="Edit the book">EDIT</button>
    </div>
    <ngb-pagination [collectionSize]="books.length" [pageSize]="pageSize" [(page)]="page"></ngb-pagination>
</div>
<!-- below var added to cause compilation errors for debugging -->
<!-- <div *if="books.length == 0"> -->
<!-- below commented out for debugging above typo -->
<div *ngIf="books.length == 0">
    There are no books in the Library.
</div>
